* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right , #2d226d, #8774f3);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(150px, auto) repeat(5, 100px);
}

button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    background-color: #111;
    color: #eee;
}

button:hover {
    background-color: #8774f3;
}

.operators {
    background-color: #4f32f1;
}

.row-size {
    grid-column: span 2;
}

#result {
    grid-column: 1 / -1;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
    color: white; 
    font-size: 2rem; 
}